/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/skill/skill.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.skill_Container__Nua2_ {
    display: flex;
    flex-direction: column; /* Mengatur elemen-elemen secara vertikal */
    justify-content: center; /* Pusatkan elemen-elemen secara vertikal */
    align-items: center; /* Pusatkan elemen-elemen secara horizontal */
    height: 100vh; /* Atur tinggi container sesuai tinggi layar */
  }
  
  .skill_Flexbox__sQfGK {
    display: flex;
    flex-direction: column; /* Mengatur elemen-elemen secara vertikal */
    align-items: flex-start; /* Atur elemen-elemen di sisi kiri */
  }
  
  .skill_Text__SMJh5 {
    margin: 12px 0;
    font-size: 1.15rem;
    font-weight: 600;
  }
  
  .skill_Box___au3f {
    height: 75px;
    width: 465px;
    background-color: #ffffff;
    margin-bottom: 10px; /* Beri jarak antara elemen */
  }
  
  .skill_Button__NwnZ_ {
    height: 40px;
    width: 80px;
    background-color: #1b0fff;
    color: white;
    font-size: 1.05rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
  }
  
  .skill_comment__9rU7B {
    height: 75px;
    width: 465px;
    background-color: #ececec; /* Ganti warna latar belakang */
    border-radius: 5px;
    margin-top: 10px; /* Beri jarak atas antara elemen */
    padding: 10px; /* Beri padding agar isi komentar terlihat lebih baik */
    box-sizing: border-box; /* Pastikan padding tidak mempengaruhi dimensi elemen */
    word-break: break-all;
  }
  
