/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/contack/contact.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.contact_container__S1qmH {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  .contact_imgContainer__xxbc6 {
    flex: 1 1;
    height: 500px;
    position: relative;
  }
  
  .contact_img__jinDy {
    object-fit: contain;
  }
  
  .contact_formContainer__1t64f {
    flex: 1 1;
  }
  
  .contact_form__Sx8fR {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact_form__Sx8fR input,
  .contact_form__Sx8fR textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
  }
  
  .contact_form__Sx8fR button {
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .contact_container__S1qmH {
      flex-direction: column;
    }
  }
  
